{
  "path": "/Users/name/repo", /* required */
  "branch": "master",
  "interval": "weekly", /* daily, montly */
  "limit": 1000,
  "smooth": 1,
  "authors": "authors.json",
  "years": "years.json",
  "callback": "callback",
  "extensions": ["*.*"],
  "replacements": {
    "john.doe@example.com": "J.Doe"
  }
}
